@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canica-skyblue: #179ac6;
  --canica-purple: #535a9b;
}

body {
  color: #fff;
  @apply bg-cyan-700;
}

main {
  margin-top: 82px;
}

footer {
  background: linear-gradient(to bottom, #000, transparent) var(--canica-purple);
}

.instagram:hover {
  color: #e1306c;
}

.twitter:hover {
  color: #000;
}

.whatsapp:hover {
  color: #075e54;
}

.facebook:hover {
  color: #1877f2;
}

.telegram:hover {
  color: #2aabee;
}
